/*
footer{
    width:100%;
}
.ftr{

    background-color: slategrey;
    color: white;
    font-weight: bold;
    height: 2rem;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    
}
*/